@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap');
/*this is a CSS COMMENT*/
/*select by element TYPE*/
p {

    color: rgb(42, 68, 151)
}
h1,h2,h3 {
    font-family: "Sixtyfour Convergence", sans-serif ;
}
/* Select by CLASS name*/
.border {
    border: 2px solid black;
}
/* select by ID name (unique)*/
#intro{
    background-color: lavender;
}
/*property colors and typographhy*/
strong{
    color:brown;
    background-color: aliceblue;
    font-weight: 90000 ;
    font-style: italic; 
}
h1{
    text-align: center ;
}
all{
    background-color: antiquewhite;
}
body{
    background-color: honeydew;
    font-family: "Raleway", sans-serif;
}
img{
   border-width: 6px; 
   border-style: OUTSET ;
   border-color: silver ;
   border-radius: 100% ;
   margin: 2;
}
hr{
    border: width 5px;
    border-style: groove ; 
    border-color: purple ;
    margin: px;
}
.center{
    margin: auto ;
    text-align : center ;
}